.house-container {
  /* position: absolute;
  bottom: 0; */
  position: relative;
  position: relative;
  display: flex;
  align-items: end;
}

.selected-house > div {
  /* border: 2px solid black; */
}

/* Roof */
.roof {
  width: 0;
  height: 0;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  border-bottom: 90px solid #8C2F39;
  position: absolute;
  top: -90px;
  left: 0;
  cursor: pointer;
} 

/* Door */
.door {
  width: 40px;
  height: 60px;
  background-color: #D62828;
  position: absolute;
  right: 20px;
  bottom: 0;

  background: #b22222;
  border: 2px solid #8b0000;
}

/* Window */  
.window {
  width: 40px;
  height: 40px;
  background-color: #264653;
  position: absolute;
  background: #2a3d45;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.window.one {
  left: 30px;
  top: 20px;
}

.window.two {
  left: 115px;
  bottom: 20px;
}

/* Floor */
.floor-list-wrapper {

}

.floor {
  width: 180px;
  height: 80px;
  background-color: #F2E9E4;
  position: relative;
  border: 2px solid transparent;
}

.floor:hover {
  border: 2px solid black;
  cursor: pointer;
}
