.house-container {
  position: absolute;
  bottom: 0;
}

/* Roof */
.roof {
  width: 0;
  height: 0;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  border-bottom: 90px solid #8C2F39;
  position: absolute;
  top: -90px;
  left: 0;
  cursor: pointer;
} 

.roof .wrench-screwdriver-icon {
  opacity: 0;
  height: 30px;
  width: 30px;
  cursor: pointer;
  color: #fff;
  position: relative;
  top: 40px;
  right: 15px;
  transition: opacity 0.3s ease;
}

.roof:hover .wrench-screwdriver-icon {
  opacity: 1;
}

/* Door */
.door {
  width: 40px;
  height: 60px;
  background-color: #D62828;
  position: absolute;
  right: 20px;
  bottom: 0;
}

/* Window */  
.window {
  width: 40px;
  height: 40px;
  background-color: #264653;
  position: absolute;
}

.window.one {
  left: 30px;
  top: 20px;
}

.window.two {
  left: 115px;
  bottom: 20px;
}

/* Floor */
.floor {
  width: 180px;
  height: 80px;
  background-color: #F2E9E4;
  position: relative;
  border: 2px solid transparent;
}

.floor:hover {
  border: 2px solid black;
  cursor: pointer;
}

/* .floor-list-wrapper > div {
  position: absolute;
  bottom: 0;
} */
